@use '../../styles/mixins' as *;

.article {
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;  
    flex-wrap: wrap;
    
    @include responsive("lg") {
        width: 70%;
    }

    @include responsive("xs") {
        width: 80%;
    }

    
    ul {    
        margin-left: 4%;

        li::marker {
            color: var(--base-color-2);;
        }        
    }

    em {
        color: var(--base-color-2);
        letter-spacing: .15rem;
    }

    
}

.header {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: clamp(4rem, 7vw, 8rem);
    margin-bottom: 10rem;

    @include responsive("md") {
        margin-bottom: 5rem;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 60%;
    margin-top: 5rem;
    text-align: center;
    letter-spacing: .2rem;
}


.articleData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--base-color-2);
    font-size: 25%;
    margin-top: 10rem;
}

.main {
    font-size: clamp(1.2rem, 2.2vw, 2rem);
    letter-spacing: .05rem;
    width: 100%;
    overflow-wrap: break-word;
}