@use '../../../styles/mixins' as *;

.newsletter {
    @include section;
}


.text {
   @include text;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input {
    @include inputEmail;
}

.subscribe {
    background-color: transparent;
    border: none;
    margin-top: 2rem;
    color: var(--base-color-2);
    letter-spacing: .3rem;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        opacity: 0.8;
    }

    @include responsive("sm") {
        font-size: 2rem;
    }
}