@use '../../../styles/mixins' as *;

.newsletter {
    @include section;
}


.text {
   @include text;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input {
    @include inputEmail;

    @include responsive("xs") {
        width: 30rem;
        height: 5rem;
        font-size: 1.4rem;
    }
}

.subscribe {
    @include subscribeEmail;
    margin-top: 2rem;
}