
.hero {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding-left: 14%;
    padding-top: 7%;

    h1 {
        font-size: clamp(1rem, 5vw, 8rem);
        letter-spacing: 1rem;
    }

    p {
        color: var(--grey-light);
        font-size: 1.8rem;
        letter-spacing: .3rem;
        margin-top: 2%;
    }

    h6 {
        margin-top: 15%;
        font-size: 4rem;
        letter-spacing: .5rem;
        
        a {
            color: var(--base-color-2);
            padding-bottom: 1rem;
            text-decoration: none;
            border-bottom: 3px solid var(--base-color-2);
            transition: all .2s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

}