@use '../../../styles/mixins';


.community {
    @include mixins.section;


    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;


        h2 {
            @include mixins.header2(10%);
        }

        p {
            font-size: 2.5rem;
            width: 70rem;
        }
    }


    &__discord {
        width: 35rem;
        height: 8rem;
        // background-color: var(--base-color-2-dark);
        border: 2px solid var(--base-color-2);
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: var(--base-color-2-dark);
            border: 2px solid var(--base-color-2-dark);
        }

        p {
            font-size: 3rem;
            letter-spacing: 0.3rem;
            // font-weight: 600;
            padding-right: 10%;
        }

        svg {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
}