

.pre {

    &:hover > .copied  {
        opacity: 1;
    }
}

.copied {
    position: absolute;
    right: 8%;
    top: 3%;
    opacity: 0;
    overflow: hidden;
    transition: all .2s;
}

.active {
    opacity: 1; 
}

.copiedButton {
    border: none;
    background-color: transparent;
    padding: 1.5rem 1rem;
    border: 1px solid var(--grey-light);
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
    }

}

.icon {
   color: white;
   display: block;
   width: 2rem;
   height: 2rem;
   animation: iconAnimation .5s ease-out forwards;
}

.checkmark {
    color: white;
    display: block;
   width: 2rem;
   height: 2rem;
   animation: checkmarkAnimation .5s ease-out forwards;
}


@keyframes checkmarkAnimation {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes iconAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
