.posts {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;

}

.articles {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.header {
    font-size: clamp(2rem, 5vw, 8rem);
    color: var(--base-color-2);
    letter-spacing: clamp(0.5rem, 1.5vw, 1.5rem);
    position: relative;

    
    &::after {
        content: "Articles";
        display: inline-block;
        position: absolute;
        top: -50%;
        left: -65%;
        font-size: 200%;
        opacity: 0.1;
        letter-spacing: clamp(2rem, 5vw, 5rem);
    }
}


.searchContainer {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: 0 0 4px 1px  var(--base-color-2);
    width: 35%;
    padding: 1.2rem 5rem;
    border-radius: 2rem;
    color: var(--base-color-1);
    letter-spacing: .2rem;
}

.inputSearch {
    background-color: transparent;
    width: 90%;
    font-size: 1.2rem;
    color: var(--base-color-1);
    letter-spacing: .1rem;
    border: none;
    outline: none;

    &::placeholder {
        color: var(--grey-light);
    }

    &:focus + .loop {
        transform: scale(1.2) translateX(1rem);
    }
}

.loop {
    // position: absolute;
    width: 2rem;
    height: 2rem;
    color: var(--grey-light);
    transition: all .2s;
}


.categoriesContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.categoriesTextContainer {
   color: var(--base-color-2);
   font-size:  clamp(1rem, 3vw, 4rem);
   letter-spacing: .5rem;
   margin-top: 8rem;
}

.categoriesContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, minmax(10rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2rem;
}
