@use '../../../styles/mixins' as *;

.newPost {
    @include section;
    position: relative;
}

.ball {
    margin-left: 20rem;


    @include responsive("lg") {
        position: absolute;
        z-index: -1;
        margin: 0 auto;
        //transform: translateY(9rem);
        transform: scale(.9) translateY(25rem);
    }

    @include responsive("xs") {
        transform: scale(.7) translateY(25rem);
    }
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    margin-top: 10rem;

    h2 {
        @include header2(15rem);
        text-align: center;
        width: 90%;
        
    }
}
