@use '../../../styles/mixins' as *;

.about {
    @include section;
}

.text {
    @include text;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        stroke-dasharray:40;
        animation: blinking linear infinite 5s;

        &:hover {
            stroke-dasharray:0;
        }
        
    }
}

@keyframes blinking {
    0% {
        stroke-dashoffset: 0;
    }
    
    100% {
        stroke-dashoffset: 400;
    }
}