
@mixin header2($margin-bottom) {
    font-size: clamp(2rem, 3vw, 4.5rem);
    letter-spacing: 0.5rem;
    margin-bottom: $margin-bottom;
}

@mixin text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;

    @include responsive("lg") {
        margin-bottom: 5rem;
        max-width: 80%;
    }

    h2 {
        @include header2(5rem);
    }

    p {
        font-size: clamp(1.8rem, 1.8vw, 2.5rem);
        //line-height: 4rem;
    }
}

@mixin section {
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include responsive("lg") {
        margin-top: 15rem;
        flex-direction: column;
        height: auto;
    }
}

@mixin mdxHeaderClamp($top_boundary) {
    font-size: clamp(calc($top_boundary - 1.2rem), 3.8vw, $top_boundary);
}

@mixin inputEmail {
    height: 5rem;
    background-color: rgba(196, 196, 196, 0.08);
    border: none;
    border-radius: .5rem;
    color: white;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    letter-spacing: .2rem;
    outline: none;
}

@mixin subscribeEmail {
    background-color: transparent;
    border: none;
    color: var(--base-color-2);
    letter-spacing: .3rem;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: 600;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        opacity: 0.8;
    }

}

// A map of breakpoints from bootstrap.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
 
@mixin responsive($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        
        @media (max-width: $breakpoint-value) {
            @content;
        }
    } @else {
        @error 'Invalid breakpoint #{$breakpoint}';
    }
}