:root {
    --base-color-1: rgb(243, 243, 243);
    --base-color-2: #24FD66;
    --base-color-2-transparent: #14d64fee;
    --base-color-3: #030013;

    

    --base-color-2-dark: #24fd65c1;

    --grey-light: #918f8f;
}

