:root {
    --base-color-1: rgb(243, 243, 243);
    --base-color-2: #24FD66;
    --base-color-2-transparent: #14d64fee;
    --base-color-2-dark: #24fd65c1;

    --base-color-3: #030013;

    --base-color-4: #0f0b22;
    --base-color-4-light: #18142c;
    


    --grey-light: #918f8f;



    // MDX COLORS
    --emphasize-important: #24FD66; 
    --emphasize-important-background: #24fd6578;

    --emphasize-prohibit: rgb(255, 47, 47); 
    --emphasize-prohibit-background: rgba(255, 47, 47, 0.409);

    --emphasize-warning: rgb(252, 201, 60); 
    --emphasize-warning-background: rgba(251, 194, 36, 0.397);
}

